<h1>
  <a routerLink=''> Home</a>
</h1>

<h2>Review your cart</h2>

<a routerLink="/shipping">Shipping Prices</a>

<div class="cart-item" *ngFor="let item of items">
  <span>{{item.name}}</span>
  <span>{{item.price | currency}}</span>

</div>
<!--  Use the [formGroup] to bind the checkOutForm to the HTML <form> -->
<form [formGroup]="checkOutForm" (ngSubmit)="onSumbmit()">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="name">Address:</label>
    <input type="text" id="address" formControlName="address">
  </div>
  <button class="button" type="submit">
    Purchase
  </button>
</form>